<%= breadcrumbs([@company, @property, ['property_report', @report]]) %>

<fieldset>
  <legend><%= @report %></legend>
  <%= render(:partial => '/reports/report_dl') %>
</fieldset>

<fieldset>
  <legend>Filters</legend>
  <%= render(:partial => '/reports/filter', :collection => @report.filters) %>
</fieldset>

<script>
function runReport() {
  new Ajax.Updater(
    'report_output_container',
    '<%= m([@company, @property, 'property_reports', @report.id, 'run']) %>', {
      method : 'get'
    }
  );
}
</script>
<fieldset>
  <legend>Output</legend>
  <div><input type="button" value="Run Report" onclick="runReport()"/></div>
  <div
    id="report_output_container"
    style="width: 100%; height: 300px; overflow: auto;"
  ></div>
</fieldset>

